.login-form {
  max-width: 1200px;
  width: 400px;
  margin: 10px;
}

.login-form-button {
  width: 100%;
}
.header {
  display: flex;
  height: 50px;
  min-width: 1080px;
  padding: 0 20px;
  justify-content: space-between;
  align-items: center;
  background: #000c17;
  color: #fff;
}

.sidebar {
  width: 180px;
  height: calc(100vh - 50px);
}

.main {
  display: flex;
  min-width: 1080px;
}

.container {
  width: 100%;
  min-width: 900px;
  padding: 0 15px;
  padding-bottom: 0;
  background: #f6f6f6;
}

.sub-title {
  padding: 10px 15px;
  background: #f6f6f6;
  display: flex;
  justify-content: space-between;

  .title-text {
    margin: 0 5px;
  }
}
.sub-title-input {
  //padding-top: 10px;
  padding-bottom: 10px;
  //padding-left: 15px;
  //padding-right: 200px;
  //background: #f6f6f6;
  display: flex;
  //justify-content: space-between;

  .title-text {
    margin: 0 5px;
  }
}

.server-list {
  padding: 10px;
  background: #ffffff;
  height: 100%;
}

.padding-container {
  padding: 10px;
}

.col-detail {
  margin-right: 10px;
  background: #fafafa;

  > .ant-row {
    > div:first-child {
      text-align: right;
    }
  }
}

.row-detail-error {
  color: #ff0000;
}
.row-detail-success {
  color: #52c41a;
}
.row-detail-warning {
  color: #ff9317;
}
.row-detail-bg-default {
  background: #03050c;
  color:#5BBFBB;
}
.row-detail-bg-error {
  background: #03050c;
  color:#BF3B2C;
}
.row-detail-bg-warning {
  background: #03050c;
  color:#BFA42F;
}
.row-detail-default {
  background: #00000000;
}


// 覆盖antd可编辑表格样式
.editable-cell-value-wrap {
  /*使内容区有了宽度*/
  padding: 5px 12px;
  cursor: pointer;
}

// 覆盖antd可编辑表格样式
.editable-row:hover .editable-cell-value-wrap {
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  padding: 4px 11px;
}

//覆盖antd menu样式
ant-menu.-inline .ant-menu-submenu-title {
  margin: 2px 0;
}
//覆盖antd颜色
.ant-menu-dark .ant-menu-item-selected, .ant-menu-submenu-popup.ant-menu-dark  .ant-menu-item-selected{
  background: #15344a
}

.ant-table-thead > tr > th, .ant-table-tbody > tr > td {
  word-break: break-word;
}

//text过长使用...
.col-long-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.card-container > .ant-tabs-card > .ant-tabs-content {
  //height: 120px;
  //margin-top: -16px;
}

.card-container > .ant-tabs-card > .ant-tabs-content > .ant-tabs-tabpane {
  background: #fff;
  //padding: 16px;
}

.card-container > .ant-tabs-card > .ant-tabs-bar {
  border-color: #fff;
}

.card-container > .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab {
  border-color: transparent;
  background: transparent;
}

.card-container > .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab-active {
  border-color: #fff;
  background: #fff;
}

.ant-advanced-search-form {
  padding: 24px;
  background: #fbfbfb;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
}

.ant-advanced-search-form .ant-form-item {
  display: flex;
  text-align:left;
}

.ant-advanced-search-form .ant-form-item-control-wrapper {
  flex: 1;
}


.link-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: inline;
  margin: 0;
  padding: 0;
  color: #1890ff;
}
.earth-gif {
  width: auto;
  height: 23rem;
  border-radius : 50%;
  overflow: hidden;
}
.ant-tab-radius {
  border-radius: 10px;
  border-color: #126BA9;
}
.ant-tab {
  border-color: #126BA9;
}

//table四个角去掉圆角
.ant-table-thead > tr:first-child > th:last-child {
    border-top-right-radius: 0px;
}
//大屏table head专有设置
th.replacecolor{
  color: #1790ff !important;
  background-color:#060710   !important;
  border-top:0px solid white !important;
  border-bottom:0px solid !important;
  border-left:0px solid !important;
  border-right:0px solid !important;
  border-radius:5spx;
  padding: 2px!important;
}

//大屏table data专有设置
td.replacecolor{
    border:1px !important;
    padding: 5px!important;
}
.ant-table-bg {
  border-radius: 10px;
}

//四个角高亮
.left_top_corner {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    border-left: 2px solid #5BBFBB;
    border-top: 2px solid #5BBFBB;
}
//四个角高亮
.right_top_corner {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
    right: 0;
    border-right: 2px solid #5BBFBB;
    border-top: 2px solid #5BBFBB;
}
//四个角高亮
.left_bottom_corner {
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    border-bottom: 2px solid #5BBFBB;
    border-left: 2px solid #5BBFBB;
}
//四个角高亮
.right_bottom_corner {
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 0;
    right: 0;
    border-right: 2px solid #5BBFBB;
    border-bottom: 2px solid #5BBFBB;
}

.img_box{
    width: 100%;
    height: 90px;
    padding:20x;
    .img{
      width: 100%;
      height: 100%;
      background-size: cover;
    }
}

.img_huanxing{
    width: 20%;
    height: 60px;
    padding:1x;
    .img{
      width: 100%;
      height: 100%;
      background-size: cover;
    }
}
